@import "../_abstracts/mixins";
@import "../_abstracts/variables";

.pagehead-actions {
  margin-top: 36px;
  margin-bottom: 0;
  padding: 2px 0;

  li {
    float: left;
    margin: 0 8px 0 0;
    font-size: 12px;
    color: $color-fg-default;
  }
}

.btn {
  color: $color-btn-text;
  background-color: $color-btn-bg;
  box-shadow: $color-btn-shadow, $color-btn-inset-shadow;
  display: flex;
  align-items: center;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid $color-btn-border;
  border-radius: 6px;
}

.btn-sm {
  @include font($fontFamily, 500, 14px, 20px, $color-btn-text);
  background-color: $color-btn-bg;
  box-shadow: $color-btn-shadow, $color-btn-inset-shadow;
  display: flex;
  align-items: center;
  padding: 5px 16px;
  cursor: pointer;
  border: 1px solid $color-btn-border;
  border-radius: 6px;
}

.octicon {
  vertical-align: text-top;
  color: $color-fg-muted;
  overflow: visible !important;
  fill: currentColor;
  margin-right: 8px !important;
}

.counter {
  @include font($fontFamily, 500, 12px, 18px, $color-fg-default);
  margin-left: 10px;
  margin-right: 6px;
  vertical-align: top;
  background-color: $color-btn-counter-bg;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  border: 1px solid $color-counter-border;
  border-radius: 2em;
}

.bth--header-size {
  @include font(Montserrat, 700, 15px, 15px, $color-white);
  padding: 11px 23px;
  border: 1px solid $primary-color;
  border-radius: 40px;
  box-shadow: none;

  &:hover {
    background: $color-white;
    color: $primary-color;
  }

  @media (min-width: $desktop-bp) {
    margin-left: 48px;
    order: 3;
  }
}

.btn--primary-color {
  background: $primary-color;
}

.btn--burger {
  background-color: $color-header-mobile-bg;
  box-shadow: none;
  @include flex-center();
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  @media (min-width: $tablet-bp) {
    display: none;
  }
}

.btn--big {
  @include font(Montserrat, 700, 18px, 20px, $color-white);
  padding: 13px 29px;
  border: 1px solid $primary-color;
  border-radius: 40px;
  box-shadow: none;

  &:hover {
    background: $color-white;
    color: $primary-color;
  }
}

.btn__img {
  user-select: none;
}

.btn__img--hidden {
  display: none;
}
