
@import "./_base/reset";

@import "./_components/logo";
@import "./_components/nav-btn";
@import "./_components/post";
@import "./_components/img";

@import "./_layout/header";
@import "./_layout/introduction";
@import "./_layout/section_revolution.scss";
@import "./_layout/section_subscription.scss";
@import "./_layout/section_whatYouGet";
@import "./_layout/feedback";

*{
    box-sizing: border-box;
}
.container{
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    @media(max-width: 320px){
        width: 320px;
    }
    @media(min-width: 1200px){
        max-width: 1200px;
    }
}