@mixin font($fontFamily, $fontWeight, $fontSize, $lineHeight, $color) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
  }
  @mixin flex-center () {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex($alignItems: center, $justifyContent: center, $flexDirection: row, $wrap: nowrap) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    flex-wrap: $wrap;
  }
@mixin sectionTitleFont ($family: Montserrat, $size: 32px, $height: 38px){
    font-family: $family;
    font-style: normal;
    font-weight: 700;
    font-size: $size;
    line-height: $height;
}
@mixin sectionTextFont ($family: Lato,$size: 14px, $height: 21px){
    font-family: $family;
font-style: normal;
font-weight: 400;
font-size: $size;
line-height: $height;
}