@import "../_abstracts/variables";
@import "../_abstracts/mixins";
@import "../_components/img";

.feedback {
  background: url(./img/_feedback/feedback-bg.jpg), $secondary-color;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 57px 31px 0;

  @media (min-width: $tablet-bp) {
    background-size: cover;
    padding: 108px 76px 0;
  }
  @media (min-width: $desktop-bp) {
    padding: 108px 80px 0 80px;
  }
  &__title {
    margin-bottom: 82px;
    @include font(Montserrat, 700, 48px, 50px, $color-white);
  }
  &__note {
    @include font(Lato, 400, 14px, 21px, $color-note);
    margin: 0 auto 19px;
    @media (min-width: $desktop-bp) {
      max-width: calc(1200px - 160px);
    }
  }

  &__line {
    width: 245px;
    height: 2px;
    background-color: $color-line;
    margin: 0 auto;
    @media (min-width: $tablet-bp) {
      width: 100%;
    }
    @media (min-width: $desktop-bp) {
      max-width: 780px;
    }
  }

  &__wrapper {
    margin: 0 auto 45px;
    @include flex($wrap: wrap);
    align-items: flex-start;
    gap: 3%;
    @media (min-width: $desktop-bp) {
      width: 100%;
      max-width: calc(1200px - 160px);
    }
  }
}
