@import "../_abstracts/variables";
@import "../_abstracts/mixins";
@import "../_components/nav-btn";

.header {
  background: $color-header-mobile-bg;
  position: absolute;
  width: 100%;
  padding: 32px 16px;

  @media (min-width: $tablet-bp) {
    padding: 24px 20px 18px;
  }

  @media (min-width: $desktop-bp) {
    background: transparent;
    padding: 30px 50px;
  }

  &__wrapper {
    position: relative;
    @include flex($justifyContent: space-between);
    @media (min-width: $tablet-bp) {
      @include flex($justifyContent: space-between, $wrap: wrap);
    }
    @media (min-width: $desktop-bp) {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    @include flex();

    @media (min-width: $desktop-bp) {
      margin-right: auto;
      order: 1;
    }
  }

  &__navigation {
    position: absolute;
    top: 73px;
    right: 16px;
    width: calc(100% - 32px);

    &--hidden {
      display: none;
    }

    @media (min-width: $tablet-bp) {
      position: static;
      display: flex;
      color: $primary-color;
      width: 100%;
      align-self: center;
    }

    @media (min-width: $desktop-bp) {
      position: static;
      order: 2;
      width: auto;
      align-self: center;
    }
  }

  &__list {
    @include flex($flexDirection: column);
    background: $color-header-menu-element-mobile;
    @include font(Montserrat, 400, 26px, 26px, $primary-color);

    @media (min-width: $tablet-bp) {
      position: static;
      background: none;
      @include flex($justifyContent: space-between);
      @include font(Montserrat, 700, 16px, 18px, $primary-color);
      justify-content: space-evenly;
      flex-basis: 100%;
      margin-top: 30px;
    }

    @media (min-width: $desktop-bp) {
      position: static;
      background: none;
      @include flex($justifyContent: space-between);
      @include font(Montserrat, 700, 16px, 18px, $primary-color);
      justify-content: space-evenly;
      margin-top: 0;
    }
  }

  &__item {
    padding: 29px 39px 21px;
    border-bottom: 3px solid $color-header-menu-element-mobile-border;
    color: $color-white;
    width: 100%;
    cursor: pointer;

    &--active {
      position: relative;
      color: $primary-color;

      &::before {
        content: "";
        top: 16px;
        left: 2px;
        width: 8px;
        height: 53px;
        background: $primary-color;
        position: absolute;

        @media (min-width: $tablet-bp) {
          content: none;
        }
      }

      @media (min-width: $tablet-bp) {
        position: static;
      }
    }

    &:hover {
      @media (min-width: $tablet-bp) {
        color: $color-white;
      }
    }

    @media (min-width: $tablet-bp) {
      width: auto;
      color: $primary-color;
      border-bottom: none;
      padding: 0;
      margin-left: 48px;
    }

    @media (min-width: $desktop-bp) {
      width: auto;
      border-bottom: none;
      padding: 0;
      margin-left: 48px;
    }
  }

  &__link {
    pointer-events: none;
  }
}
