@import "../_abstracts/mixins";
@import "../_abstracts/_variables";
.revolution{
    text-align: center;
    padding-bottom: 70px;
}
.revolution__title{
    @include sectionTitleFont(Montserrat, 26px,28px);
    text-transform: uppercase;
    color: #635C73;
    margin: 50px auto 27px;
    @media (min-width:$tablet-bp){
        @include sectionTitleFont(Montserrat,42px,42px)
    }
    @media (min-width:$desktop-bp){
        @include sectionTitleFont(Montserrat,54px,54px)
    }
}
.revolution__subtitle {
    @include sectionTextFont;
    color: $WhatYouGetText;
    margin-bottom: 36px;
    @media (min-width:$tablet-bp){
        @include sectionTextFont(Lato, 21px, 32px);
    }
}
.revolution__stat{
    width: 262px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
grid-template-areas: "watch star"
"fork fork";
grid-column-gap: 20px;
grid-row-gap: 20px;

@media(min-width: $tablet-bp){
    width: 365px;
    grid-template-areas: "watch star fork";
}
}
.revolution__stat-watch{
    grid-area: watch;
    display: flex;
}
.revolution__stat-star{
    grid-area: star;
    display: flex;
}
.revolution__stat-fork{
    grid-area: fork;
    display: flex;
}
.btn-stat{
    cursor: pointer;
    background: linear-gradient(white,rgb(228, 228, 228));
    width: 71px;
    display: flex;
    justify-content: center;
    padding: 3px;
    border: 1px solid rgb(209, 209, 209);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
}
.stat__text{
    line-height: 20px;
    padding-left: 5px;
    font-weight: 700;
}
.stat__icon{
    min-width: 14px;
    height: 18px;
}
.stat__number {
    width: 55px;
    padding: 4px 5px 0 5px;
    border: 1px solid rgb(209, 209, 209);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}