@import "../_abstracts/mixins";
@import "../_abstracts/_variables";
.what-you-get{
    padding: 18px 0 6px;
    margin: 0 auto;
    @media(min-width: $desktop-bp){
       background-color: #F4F4F4;
       
    }
    
}
.w-y-g__grid {
   @media(min-width: $desktop-bp) {display: grid;
       grid-template-columns: 45fr 55fr;
       grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
       grid-template-areas: "wyg_information wyg_title"
       "wyg_information wyg_image"
       "wyg_information wyg_image"
       "wyg_information wyg_image"
       "wyg_information wyg_image"
       ;
       grid-column-gap: 40px;
       padding-top: 85px;
    }
}
.w-y-g__title {
    margin-bottom: 36px;
    @include sectionTitleFont(Montserrat,$sectionTitleSize-mob, $sectionTitleHeight-mob);
    color: $headerButtonColor;
    &::before{
        content: "<";
    }
    &::after{
        content: ">";
    }
    @media(min-width: $tablet-bp) {
        margin-bottom: 50px;
        font-size: $sectionTitleSize-tablet;
        line-height: $sectionTitleHeight-tablet;
    }
    @media(min-width: $desktop-bp) {
        font-size: $sectionTitleSize-desk;
        line-height: $sectionTitleHeight-desk;
        margin-bottom: 10px;
        max-height: 100px;

    }
    grid-area: wyg_title;
}
.w-y-g__information {
    grid-area: wyg_information;

}
.w-y-g__block{
    @media(min-width: $tablet-bp){
        padding-left: 20px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 110px 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
    }
    @media(min-width: $desktop-bp) {
        grid-template-columns: 110px 1fr;
        grid-template-rows: 1fr;
    }

}
.w-y-g__block-info{
    @media(min-width: $tablet-bp){
        text-align: left;
    }
}
.w-y-g__block-img{
    margin: 35px auto 20px;
    @media(min-width: $tablet-bp){
        margin: 0 auto;
    }
}
.w-y-g__info-title {
    @include sectionTextFont(Montserrat,14px,14px);
    color: $WhatYouGetSubtitle;
    margin: 0 auto 14px;
    @media(min-width: $tablet-bp){
        margin-bottom: 5px;
    }
}
.w-y-g__info-text{
    padding: 0 15px;
    margin: 0 auto;
    @include sectionTextFont;
    color: $WhatYouGetText;
    @media(min-width: $tablet-bp){
        padding: 0;
    }
}

.w-y-g__image {
    width: 100%;
    height: 381px;
    background-image:url(../dist/img/_section_what_you_get/editor_tablet.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
        @media(min-width: $tablet-bp){
            background-position: center;
            background-size:auto;

    }
        @media(min-width: $desktop-bp) {
            background-position: center;
            
             
    }
    grid-area: wyg_image;
}

