@import "../_abstracts/variables";
@import '../_abstracts/mixins';
.subscription {
    width: 100%;
    background-color: rgb(75, 59,78);
    color: #fff;
    padding: 14px 0 15px;
    @media (min-width: 601px){
        background-image: url(../dist/img/_subscription/subscription_background.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        padding: 88px 0 15px;
    }
    @media (min-width: 1135px){
        padding: 110px 0 50px;
}
.subscription__grid{
    @media (min-width:601px) {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 299px 257px;
        grid-template-rows: 460px 560px;
        grid-column-gap: 25px;
        grid-row-gap: 39px;        
    }

    @media (min-width: 1135px){
        grid-template-columns: 257px 257px 299px 257px;
        grid-template-rows: 560px;
        grid-column-gap: 15px;  
    }
}
.subscription__title{
    margin: 0 auto 32px;
    @include sectionTitleFont(Montserrat,28px ,42px);
    text-transform: uppercase;
    @media (min-width: 601px){
       margin: 0 auto 39px;
       @include sectionTitleFont(Montserrat,42px ,44px);
    }
    @media (min-width: 1135px){
        margin: 0 auto 61px;
        @include sectionTitleFont(Montserrat,48px ,50px);
     }
}
.subscription__block{
    width: 257px;
    margin: 0 auto 18px;
    padding-bottom: 36px;
    min-height: 457px;
    max-height: 460px;
    background-color: rgba(255,255,255,0.11);
    &.select{
        width: 296px;
        background-color: 
        #463048;
        padding-bottom: 47px;
        min-height: 560px;
        max-height: 560px;
    
    }
        
    }
.subscription__block-title{
    display: block;
 @include sectionTextFont(Montserrat,24px,24px);
 text-transform: uppercase;
 padding: 36px 0 36px;
 margin: 0;
 background: rgba(255,255,255,0.06);
 &.select{
    padding: 43px 0 43px;
    background: rgba(0,0,0,0.11);

 }
}

.subscription__price{
    @include sectionTitleFont(Montserrat,60px ,62px);
    text-transform: uppercase;
    margin: 30px auto 20px;
    &.select{
        @include sectionTitleFont(Montserrat,82px ,84px);
        margin: 14px auto 16px;
     }
    
}
.dollar__sign{
    font-weight: 400;
}
.subscription__duration{
    @include sectionTextFont(Montserrat, 14px, 16px);
    text-transform: uppercase;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 60px;
        height: 5px;
        top: 63px;
        left: calc(50% - 30px);
        background-color: #8D81AC;
    }
    margin-bottom: 65px;
    &.select{
        margin-bottom: 91px;
    }
}
.subscription__info{
    @include sectionTextFont(Montserrat,16px,28px);
    &.select{
        @include sectionTextFont(Montserrat,16px,32px);
    }
    &-second{
        @include sectionTextFont(Montserrat,16px,28px);
        height: 28px;
        margin-bottom: 36px;
        &.select{
            margin-bottom: 83px;
        }
    }
}
.subscription__purchase-btn{
    @include sectionTextFont(Montserrat,15px,15px);
    text-transform: uppercase;
    padding: 15.5px 0 14.5px;
width: 163px;
background-color: rgba(255,255,255,0.15);
color: #fff;
border: none;
border-radius: 30px;

cursor: pointer;
 &.select{
    @include sectionTextFont(Montserrat,16px,18px);
    padding: 18.5px 0 18.5px;
    width: 190px;
 }
}
}